.photos {
  padding-top: 68px;
  font-family: $font-poppins;
  color: white;
  background: linear-gradient($color-purple 60%, white 60% 100%);
}

.photos__title {
  font-size: 48px;
  line-height: 88px;
  margin: 0;
}

.photos__text {
  font-size: 16px;
  line-height: 32px;
  margin: 0 0 50px;
  width: 569px;
}

.photos__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.photos__img {
  display: block;
  margin: 0 auto;
}

.photos {
  position: relative;

  .swiper-button-prev {
    top: 100px;
    left: auto;
    right: 150px;
  }

  .swiper-button-next {
    top: 100px;
    left: auto;
    right: 50px;
  }
}


@media (max-width: $max-width) {
  .photos {
    background: $color-purple;
  }

  .photos__img {
    width: 100%;
    height: auto;
  }
}
