$max-width: 1168px;

$font-poppins: "Poppins", "Arial", sans-serif;

$color-gold: #D3B47F;
$color-purple: #3A4574;
$color-grey: #E7E7E7;
$color-text-grey: #808080;
$color-text-black: #2E2E2E;
$color-form-grey: #CCCCCC;

$desktop-width: 1168px;
